{% extends 'base.html.twig' %}

{% block title %}My Orders List{% endblock %}

{% block body %}


<div class="row my-5">
    <div class="col-md-10 mx-auto">
      {% for message in app.flashes('success') %}
      <div class="alert atert-success">
         {{message}}
      </div>
      {% endfor %}
      <div class="card">
        <div class="card-header">
             My Orders
        </div>
        <div class="card-body">
           <table class="table table-bordered table-hover">
             <thead> 
             <tr>
               <th>ID</th>
               <th>Product Name</th>
               <th>Price</th>
               <th>Status</th>
            </tr>
             </thead>
            </tbody>
             {% for order in user.orders %}
               <tr> 
                  <td>{{loop.index}}</td>
                  <td>{{order.pname}}</td>
                  <td>{{order.price}}</td>
                  <td>{{order.status}}</td> 
              </tr>
             {% endfor %}
            </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
